body {
    max-height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

img.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.qrcode {
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: #ffffff;
    border-radius: 42px;
    padding: 30px;
}

/* Title */

.title {
    position: absolute;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 32px;
    text-shadow: -8px 4px #303030;
}

/* Info */

.info {
    position: absolute;
    right: 100px;
    top: 100px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

/* Arena */

.arena {
    position: relative;
    width: 100%;
    height: 100vh;
}

.entity {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
}

.entity > h2 {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    max-width: 220px;
    color: #ffffff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entity > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.entity > .health {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: calc(-100% - 60px);
    top: 40%;
    transform: translateY(-50%) rotate(90deg);
    width: 340px;
    height: 40px;
    border: 3px solid #303030;
    border-radius: 16px;
    background-color: var(--health-color-opacity);
    opacity: 0.8;
}

.entity > .health > span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
}

.entity > .health::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--health);
    height: 100%;
    background-color: var(--health-color);
    border-radius: 13px;
}

.entity.enemy > .health  {
    left: 35%;
    top: 0;
    transform: translateY(-50%);
}